.container-form {
  width: 100%;
}

.cabinet-user-edit {
  margin: 0 auto;
  text-align: center;
  .cabinet-form {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    .row {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      font-size: 18px;
      input[type="text"] {
        width: 600px;
        height: 30px;
        font-size: 18px;
      }
      .btn {
        @extend %button;
        width: 200px;
        padding: 10px;
        font-size: 18px;
      }
    }
  }
}

.registration, .login {
  margin: 20px auto;
  width: 800px;
  .form {
    h2 {
      color: $LIGHT_GREY_COLOR;
    }
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid $LIGHT_GREY_COLOR;
    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      width: 100%;
      .btn {
        align-self: center;
      }
    }
    .row {
      margin-bottom: 20px;
      padding: 0;
    }
  }

  input[type=submit], button[type=submit] {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: none;
    background: $AQUA_COLOR;
    color: #ffffff;
    font-size: 18px;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }
  input[type=text], input[type=email], input[type=password] {
    @extend %input-blue;
    height: 30px;
    width: 100%;
    border: 1px solid $LIGHT_GREY_COLOR;
    padding: 2px;
    font: {
      size: 18px;
    }
  }
}