@charset "UTF-8";
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

body {
  margin: 0;
  padding: 0;
  font: 16px/24px Arial, Tahoma, sans-serif; }

div.mid {
  width: 1200px;
  margin: 0 auto; }

/*Шапка сайта*/
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

.header-user {
  background: #cccccc; }
  .header-user > .mid {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    color: #303030; }
    .header-user > .mid a {
      color: #303030;
      text-decoration: none; }
      .header-user > .mid a:hover {
        color: #ffffff; }

.header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between; }
  .header .logotype img {
    max-width: 300px;
    max-height: 150px; }

.contacts > ul {
  display: flex; }
  .contacts > ul li {
    white-space: nowrap;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold; }

.authorization > ul {
  display: flex; }
  .authorization > ul li {
    margin: 0 20px; }
    .authorization > ul li:first-child {
      margin-left: 0; }
    .authorization > ul li:last-child {
      margin-right: 0; }
    .authorization > ul li a {
      color: #303030;
      text-decoration: none; }
      .authorization > ul li a .amount-products {
        background: #303030;
        padding: 5px;
        border-radius: 5px;
        color: #FFFFFF; }
      .authorization > ul li a:hover {
        color: #00a2e8; }
        .authorization > ul li a:hover .count-products {
          background: #00a2e8; }

/*Меню сайта*/
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

.wrapper-menu {
  background: #00a2e8; }
  .wrapper-menu .menu > ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    .wrapper-menu .menu > ul li {
      white-space: nowrap; }
      .wrapper-menu .menu > ul li a {
        display: block;
        padding: 20px;
        color: #ffffff;
        text-decoration: none;
        font-size: 18px; }
        .wrapper-menu .menu > ul li a:hover {
          background: #303030; }

/*фиксированное меню*/
#fixed-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%; }

/*popup*/
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

.label {
  display: flex;
  justify-content: space-between; }
  .label .error {
    color: #ff0000;
    font-size: 14px; }

/*Контент сайта*/
.wrapper-content > .mid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .wrapper-content > .mid .left {
    flex-basis: 240px; }
  .wrapper-content > .mid .center {
    flex-basis: 940px; }

.error {
  color: #ff0000; }
  .error .help-block {
    font-size: 14px; }

/*Меню товаров*/
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

.menu-products {
  margin: 20px 0; }
  .menu-products ul li {
    position: relative; }
    .menu-products ul li:hover .sub-menu {
      display: block; }
    .menu-products ul li a {
      text-decoration: none;
      display: block;
      border: 1px solid #00a2e8;
      padding: 20px;
      color: #303030;
      margin-bottom: -1px; }
      .menu-products ul li a:hover {
        background: #303030;
        color: #ffffff; }
    .menu-products ul li .sub-menu {
      position: absolute;
      display: none;
      left: 238px;
      z-index: 10;
      background: #ffffff;
      top: 0;
      border-left: 2px solid #00a2e8; }
      .menu-products ul li .sub-menu a {
        width: 210px; }

.menu-select {
  margin: 20px 0;
  border: 1px solid #00a2e8; }
  .menu-select #form-selection {
    display: flex;
    flex-direction: column; }
  .menu-select .range-price {
    display: flex;
    flex-flow: column wrap;
    padding: 20px; }
    .menu-select .range-price .price-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0; }
      .menu-select .range-price .price-input input[type=text] {
        width: 80px;
        height: 30px;
        font-size: 18px; }
  .menu-select .manufacturer {
    border-top: 1px solid #00a2e8;
    padding: 20px; }
    .menu-select .manufacturer .manufacturer-list {
      padding: 5px;
      font-size: 18px;
      display: flex;
      flex-flow: column nowrap;
      height: 200px;
      overflow: auto;
      margin: 10px 0;
      border: 1px solid #00a2e8; }
      .menu-select .manufacturer .manufacturer-list .manufacturer-row {
        margin: 5px 0; }
  .menu-select #btn-selection {
    border: none;
    padding: 10px;
    font-size: 18px;
    background: #00a2e8;
    color: #FFFFFF;
    margin: 0 20px 20px 20px; }
    .menu-select #btn-selection:hover {
      background: #303030; }
  .menu-select .checkbox + label {
    cursor: pointer; }
  .menu-select .checkbox:not(checked) {
    position: absolute;
    opacity: 0; }
  .menu-select .checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 60px; }
  .menu-select .checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
  .menu-select .checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all .2s; }
  .menu-select .checkbox:checked + label:before {
    background: #00a2e8; }
  .menu-select .checkbox:checked + label:after {
    left: 26px; }

#slider-range .ui-state-active:hover {
  background: #00a2e8; }

#hover-item {
  background: #303030;
  color: #ffffff; }

/*Центр*/
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

/*Афиша*/
.center > .afisha {
  margin-top: 20px; }

.center > .afisha > img {
  width: 740px; }

/*Блоки товаров*/
.blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 35px;
  position: relative;
  width: 250px;
  height: 370px; }
  .block:hover {
    transform: scale(1.1);
    transition: transform 0.7s; }
  .block .img-product {
    text-align: center; }
    .block .img-product > img {
      max-width: 250px;
      max-height: 150px; }
  .block a {
    text-decoration: none;
    color: #000000; }
  .block .about-product {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end; }
    .block .about-product ul {
      text-align: center; }
      .block .about-product ul li {
        margin-bottom: 10px; }
        .block .about-product ul li:first-child {
          margin-top: 20px;
          font-size: 18px; }
        .block .about-product ul li.old-price {
          text-decoration: line-through; }
        .block .about-product ul li:last-child {
          font-size: 26px;
          margin-bottom: 20px; }
  .block .button-add-basket a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background: #00a2e8;
    text-align: center;
    color: #ffffff; }
    .block .button-add-basket a:hover {
      background: #303030;
      color: #ffffff; }

.products, .latest-products, .recomended-products {
  margin-top: 20px; }
  .products h1, .latest-products h1, .recomended-products h1 {
    font-weight: normal; }

.new, .sale {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0; }

/*Pagination*/
div.pagination {
  display: flex;
  justify-content: center; }

ul.pagination {
  display: flex; }
  ul.pagination li {
    margin: 5px;
    display: block;
    background: #00a2e8; }
    ul.pagination li span {
      display: block;
      padding: 10px;
      color: #ffffff; }
    ul.pagination li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #ffffff; }
    ul.pagination li:hover {
      background: #303030; }
  ul.pagination li.active {
    background: #303030; }

/*Футер*/
.contacts > ul, .authorization > ul, .wrapper-menu .menu > ul, .menu-products ul, .block .about-product ul, ul.pagination, .f-nav > .f-menu ul, .f-contacts ul, .cart .brief-info > ul, .admin ul.admin-menu, .admin-create ul.admin-menu, .admin-update ul.admin-menu, .admin-view ul.admin-menu, .admin-afisha ul.admin-menu, .errors, .cabinet-menu {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

input:focus, select:focus, textarea:focus, .menu-select .range-price .price-input input[type=text]:focus, .cart input[type=text]:focus, #modal-add-attribute input:focus, #modal-delete-attribute input:focus, .registration input[type=text]:focus, .registration input[type=email]:focus, .registration input[type=password]:focus, .login input[type=text]:focus, .login input[type=email]:focus, .login input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0);
  outline: 0;
  box-shadow: 0 0 10px 4px rgba(82, 168, 236, 0.6) !important; }

.cart .table-cart, .table-products, .table-products-orders, .table-orders, .table-categories {
  width: 100%;
  border-spacing: 70px 0px;
  margin: 20px 0; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th, .cart .table-cart td, .table-products td, .table-products-orders td, .table-orders td, .table-categories td {
    padding: 10px;
    text-align: center; }
    .cart .table-cart th a, .table-products th a, .table-products-orders th a, .table-orders th a, .table-categories th a, .cart .table-cart td a, .table-products td a, .table-products-orders td a, .table-orders td a, .table-categories td a {
      text-decoration: none;
      color: #00a2e8; }
      .cart .table-cart th a:hover, .table-products th a:hover, .table-products-orders th a:hover, .table-orders th a:hover, .table-categories th a:hover, .cart .table-cart td a:hover, .table-products td a:hover, .table-products-orders td a:hover, .table-orders td a:hover, .table-categories td a:hover {
        color: #303030; }
  .cart .table-cart th, .table-products th, .table-products-orders th, .table-orders th, .table-categories th {
    border: none; }

.cart .checkout .btn, #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button, .cabinet-user-edit .cabinet-form .row .btn {
  border: none;
  color: #ffffff;
  background: #00a2e8; }
  .cart .checkout .btn:hover, #modal-add-attribute .buttons-params button:hover, #modal-delete-attribute .buttons-params button:hover, .cabinet-user-edit .cabinet-form .row .btn:hover {
    background: #303030; }

.wrapper-footer {
  margin: 0;
  padding: 0;
  background: #303030; }

.f-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .f-container h2 {
    margin: 20px 0px;
    padding: 0;
    color: #ffffff; }

.f-nav > .f-menu ul li {
  margin: 10px 0;
  padding: 0; }
.f-nav > .f-menu ul a {
  text-decoration: none;
  color: #ffffff; }
  .f-nav > .f-menu ul a:hover {
    color: #00a2e8; }
.f-nav > .f-menu ul label {
  margin: 0;
  padding: 0;
  font-size: 16px; }
  .f-nav > .f-menu ul label:hover {
    color: #00a2e8; }

.f-contacts ul {
  color: #ffffff; }
  .f-contacts ul li {
    margin: 10px 0;
    padding: 0; }

.copy {
  border-top: 1px solid #00a2e8;
  text-align: center;
  padding: 20px 0;
  color: #ffffff; }

/*Корзина*/
.center-cart {
  width: 100%; }

.cart {
  text-align: center; }
  .cart .checkout {
    display: flex;
    justify-content: center;
    font-size: 18px; }
    .cart .checkout .row {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 5px; }
    .cart .checkout select {
      background: none;
      width: 600px;
      height: 30px;
      font-size: 18px;
      margin-bottom: 10px; }
    .cart .checkout .btn {
      font-size: 18px;
      width: 300px;
      padding: 10px; }
  .cart div.btn-to-main {
    display: flex;
    justify-content: center; }
  .cart a.btn-to-main {
    display: block;
    margin-bottom: 10px;
    width: 200px;
    text-decoration: none;
    color: #FFFFFF;
    background: #00a2e8;
    padding: 10px; }
    .cart a.btn-to-main:hover {
      background: #303030; }
  .cart .empty-cart {
    margin-bottom: 100px; }
  .cart a.checkout {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    text-decoration: none;
    color: #ffffff;
    background: #00a2e8;
    padding: 10px; }
    .cart a.checkout:hover {
      background: #303030; }
  .cart input[type=text], .cart textarea {
    height: 30px;
    width: 300px;
    padding: 2px;
    font-size: 18px; }
  .cart td {
    vertical-align: top; }
  .cart .btn {
    background: #00a2e8;
    border: none;
    padding: 10px;
    color: #FFFFFF; }
    .cart .btn:hover {
      background: #303030; }
  .cart .btn-delete {
    background: none;
    color: #00a2e8; }
    .cart .btn-delete:hover {
      background: none;
      color: #303030; }
  .cart textarea {
    height: 100px; }
  .cart input, .cart textarea {
    margin-bottom: 20px; }
  .cart .total-cost {
    font-weight: bold;
    font-size: 20px; }
  .cart input[type=submit] {
    padding: 10px;
    width: 300px;
    border: none;
    background: #00a2e8;
    color: #ffffff;
    font-size: 18px; }
    .cart input[type=submit]:hover {
      background: #303030; }

/*Админка*/
.center-admin {
  width: 100%; }

.admin, .admin-create, .admin-update, .admin-view, .admin-afisha {
  margin: 0 auto; }
  .admin h2, .admin-create h2, .admin-update h2, .admin-view h2, .admin-afisha h2 {
    text-align: center; }
  .admin ul.admin-menu li, .admin-create ul.admin-menu li, .admin-update ul.admin-menu li, .admin-view ul.admin-menu li, .admin-afisha ul.admin-menu li {
    margin: 10px; }
  .admin ul.admin-menu a, .admin-create ul.admin-menu a, .admin-update ul.admin-menu a, .admin-view ul.admin-menu a, .admin-afisha ul.admin-menu a {
    text-decoration: none;
    color: #00a2e8; }
    .admin ul.admin-menu a:hover, .admin-create ul.admin-menu a:hover, .admin-update ul.admin-menu a:hover, .admin-view ul.admin-menu a:hover, .admin-afisha ul.admin-menu a:hover {
      color: #303030; }
  .admin .admin-form, .admin-create .admin-form, .admin-update .admin-form, .admin-view .admin-form, .admin-afisha .admin-form {
    display: flex;
    justify-content: center; }
    .admin .admin-form .row, .admin-create .admin-form .row, .admin-update .admin-form .row, .admin-view .admin-form .row, .admin-afisha .admin-form .row {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 5px; }
    .admin .admin-form input[type=text], .admin .admin-form select, .admin .admin-form textarea, .admin-create .admin-form input[type=text], .admin-create .admin-form select, .admin-create .admin-form textarea, .admin-update .admin-form input[type=text], .admin-update .admin-form select, .admin-update .admin-form textarea, .admin-view .admin-form input[type=text], .admin-view .admin-form select, .admin-view .admin-form textarea, .admin-afisha .admin-form input[type=text], .admin-afisha .admin-form select, .admin-afisha .admin-form textarea {
      height: 30px;
      width: 600px;
      font-size: 18px; }
    .admin .admin-form textarea, .admin-create .admin-form textarea, .admin-update .admin-form textarea, .admin-view .admin-form textarea, .admin-afisha .admin-form textarea {
      height: 100px; }
    .admin .admin-form select, .admin-create .admin-form select, .admin-update .admin-form select, .admin-view .admin-form select, .admin-afisha .admin-form select {
      background: none; }
    .admin .admin-form button, .admin-create .admin-form button, .admin-update .admin-form button, .admin-view .admin-form button, .admin-afisha .admin-form button {
      width: 40px;
      height: 40px;
      font-size: 18px;
      color: #FFFFFF;
      background: #00a2e8;
      border: none;
      padding: 10px; }
      .admin .admin-form button:hover, .admin-create .admin-form button:hover, .admin-update .admin-form button:hover, .admin-view .admin-form button:hover, .admin-afisha .admin-form button:hover {
        background: #303030; }
    .admin .admin-form .form-param, .admin-create .admin-form .form-param, .admin-update .admin-form .form-param, .admin-view .admin-form .form-param, .admin-afisha .admin-form .form-param {
      margin: 20px 0; }
      .admin .admin-form .form-param input[type='text'], .admin .admin-form .form-param select, .admin-create .admin-form .form-param input[type='text'], .admin-create .admin-form .form-param select, .admin-update .admin-form .form-param input[type='text'], .admin-update .admin-form .form-param select, .admin-view .admin-form .form-param input[type='text'], .admin-view .admin-form .form-param select, .admin-afisha .admin-form .form-param input[type='text'], .admin-afisha .admin-form .form-param select {
        width: 300px; }
      .admin .admin-form .form-param .btn-remove-parameter, .admin-create .admin-form .form-param .btn-remove-parameter, .admin-update .admin-form .form-param .btn-remove-parameter, .admin-view .admin-form .form-param .btn-remove-parameter, .admin-afisha .admin-form .form-param .btn-remove-parameter {
        background: #ff0000; }
        .admin .admin-form .form-param .btn-remove-parameter:hover, .admin-create .admin-form .form-param .btn-remove-parameter:hover, .admin-update .admin-form .form-param .btn-remove-parameter:hover, .admin-view .admin-form .form-param .btn-remove-parameter:hover, .admin-afisha .admin-form .form-param .btn-remove-parameter:hover {
          background: #303030; }
    .admin .admin-form input, .admin .admin-form select, .admin .admin-form textarea, .admin-create .admin-form input, .admin-create .admin-form select, .admin-create .admin-form textarea, .admin-update .admin-form input, .admin-update .admin-form select, .admin-update .admin-form textarea, .admin-view .admin-form input, .admin-view .admin-form select, .admin-view .admin-form textarea, .admin-afisha .admin-form input, .admin-afisha .admin-form select, .admin-afisha .admin-form textarea {
      margin-bottom: 20px; }
    .admin .admin-form input[type=submit], .admin-create .admin-form input[type=submit], .admin-update .admin-form input[type=submit], .admin-view .admin-form input[type=submit], .admin-afisha .admin-form input[type=submit] {
      padding: 10px;
      width: 300px;
      border: none;
      background: #00a2e8;
      color: #ffffff;
      font-size: 18px; }
      .admin .admin-form input[type=submit]:hover, .admin-create .admin-form input[type=submit]:hover, .admin-update .admin-form input[type=submit]:hover, .admin-view .admin-form input[type=submit]:hover, .admin-afisha .admin-form input[type=submit]:hover {
        background: #303030; }
    .admin .admin-form .delete-image, .admin-create .admin-form .delete-image, .admin-update .admin-form .delete-image, .admin-view .admin-form .delete-image, .admin-afisha .admin-form .delete-image {
      background: #ff0000; }

.btn-more {
  display: flex;
  justify-content: center; }
  .btn-more #btn-more {
    display: flex;
    justify-content: space-around;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    background: #00a2e8;
    font-size: 18px;
    width: 200px; }
    .btn-more #btn-more:hover {
      background: #303030; }

a.btn-add-product, a.btn-add-category {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  padding: 10px;
  background: #00a2e8; }
  a.btn-add-product:hover, a.btn-add-category:hover {
    background: #303030; }

a.btn-add-category {
  width: 200px; }

.table-orders-info {
  border-collapse: collapse; }
  .table-orders-info td, .table-orders-info th {
    padding: 0 20px; }

.admin-delete input[type=submit], .admin-delete .btn-back, .admin-view input[type=submit], .admin-view .btn-back {
  text-decoration: none;
  padding: 10px;
  border: none;
  background: #00a2e8;
  color: #ffffff;
  font-size: 18px; }
  .admin-delete input[type=submit]:hover, .admin-delete .btn-back:hover, .admin-view input[type=submit]:hover, .admin-view .btn-back:hover {
    background: #303030; }

.delete-product {
  color: #00a2e8; }
  .delete-product:hover {
    color: #303030; }

.img-afisha {
  position: relative; }
  .img-afisha .delete-image-afisha {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2; }
  .img-afisha button.delete-image-afisha {
    background: #ff0000; }

.errors {
  color: #ff0000;
  margin: 5px 20px; }

#modal-add-attribute, #modal-delete-attribute {
  font-size: 18px; }
  #modal-add-attribute input, #modal-delete-attribute input {
    height: 30px;
    width: 100%;
    margin: 10px 0; }
  #modal-add-attribute .buttons-params, #modal-delete-attribute .buttons-params {
    display: flex;
    justify-content: space-between; }
    #modal-add-attribute .buttons-params button, #modal-delete-attribute .buttons-params button {
      width: 100%;
      height: 40px;
      margin: 10px; }
  #modal-add-attribute .table-attributes, #modal-delete-attribute .table-attributes {
    width: 100%; }
    #modal-add-attribute .table-attributes .delete-attribute, #modal-delete-attribute .table-attributes .delete-attribute {
      color: #00a2e8;
      cursor: pointer; }
      #modal-add-attribute .table-attributes .delete-attribute:hover, #modal-delete-attribute .table-attributes .delete-attribute:hover {
        color: #303030; }

span.delete {
  color: #00a2e8; }
  span.delete:hover {
    color: #303030; }

span.delete, .btn {
  cursor: pointer; }

.cabinet-menu {
  margin: 20px 0; }
  .cabinet-menu a {
    margin: 0 20px;
    text-decoration: none;
    color: #00a2e8; }
    .cabinet-menu a:hover {
      color: #303030; }

.correct-form input {
  margin-bottom: 20px; }
  .correct-form input[type=text], .correct-form input[type=password] {
    height: 30px;
    width: 300px;
    border: none;
    padding: 2px;
    background: #cccccc;
    font-size: 18px; }
.correct-form input[type=submit] {
  padding: 10px;
  width: 300px;
  border: none;
  background: #00a2e8;
  color: #ffffff;
  font-size: 18px; }
  .correct-form input[type=submit]:hover {
    background: #303030; }

/*Авторизация*/
.container-form {
  width: 100%; }

.cabinet-user-edit {
  margin: 0 auto;
  text-align: center; }
  .cabinet-user-edit .cabinet-form {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: center; }
    .cabinet-user-edit .cabinet-form .row {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      font-size: 18px; }
      .cabinet-user-edit .cabinet-form .row input[type="text"] {
        width: 600px;
        height: 30px;
        font-size: 18px; }
      .cabinet-user-edit .cabinet-form .row .btn {
        width: 200px;
        padding: 10px;
        font-size: 18px; }

.registration, .login {
  margin: 20px auto;
  width: 800px; }
  .registration .form, .login .form {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #cccccc; }
    .registration .form h2, .login .form h2 {
      color: #cccccc; }
    .registration .form form, .login .form form {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      width: 100%; }
      .registration .form form .btn, .login .form form .btn {
        align-self: center; }
    .registration .form .row, .login .form .row {
      margin-bottom: 20px;
      padding: 0; }
  .registration input[type=submit], .registration button[type=submit], .login input[type=submit], .login button[type=submit] {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: none;
    background: #00a2e8;
    color: #ffffff;
    font-size: 18px; }
    .registration input[type=submit]:hover, .registration button[type=submit]:hover, .login input[type=submit]:hover, .login button[type=submit]:hover {
      background: #303030; }
  .registration input[type=text], .registration input[type=email], .registration input[type=password], .login input[type=text], .login input[type=email], .login input[type=password] {
    height: 30px;
    width: 100%;
    border: 1px solid #cccccc;
    padding: 2px;
    font-size: 18px; }

@media screen and (max-width: 1200px) {
  div.mid {
    width: 95%; } }

/*# sourceMappingURL=styles.css.map */
