.center-admin {
  width: 100%;
}

.admin, .admin-create, .admin-update, .admin-view, .admin-afisha {
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  ul.admin-menu {
    @extend %ul-clear;
    li {
      margin: 10px;
    }
    a {
      text-decoration: none;
      color: $AQUA_COLOR;
      &:hover {
        color: $DARK_GREY_COLOR;
      }
    }
  }

  .admin-form {
    display: flex;
    justify-content: center;

    .row {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 5px;
    }
    input[type=text], select, textarea {
      height: 30px;
      width: 600px;
      font-size: 18px;
    }
    textarea {
      height: 100px;
    }

    select {
      background: none;
    }
    button {
      width: 40px;
      height: 40px;
      font-size: 18px;
      color: #FFFFFF;
      background: $AQUA_COLOR;
      border: none;
      padding: 10px;
      &:hover {
        background: $DARK_GREY_COLOR;
      }
    }

    .form-param {
      input[type='text'], select {
        width: 300px;
      }
      .btn-remove-parameter {
        background: #ff0000;
        &:hover {
          background: $DARK_GREY_COLOR;
        }
      }
      margin: 20px 0;
    }

    input, select, textarea {
      margin-bottom: 20px;
    }

    input[type=submit] {
      padding: 10px;
      width: 300px;
      border: none;
      background: $AQUA_COLOR;
      color: #ffffff;
      font-size: 18px;
      &:hover {
        background: $DARK_GREY_COLOR;
      }
    }
    .delete-image {
      background: #ff0000;
    }
  }
}

.btn-more {
  display: flex;
  justify-content: center;
  #btn-more {
    display: flex;
    justify-content: space-around;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    background: $AQUA_COLOR;
    font-size: 18px;
    width: 200px;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }
}

a.btn-add-product, a.btn-add-category {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  padding: 10px;
  background: $AQUA_COLOR;
  &:hover {
    background: $DARK_GREY_COLOR;
  }
}

a.btn-add-category {
  width: 200px;
}

.table-products, .table-products-orders, .table-orders, .table-categories {
  @extend %table-admin;
}

.table-orders-info {
  border-collapse: collapse;
  td, th {
    padding: 0 20px;
  }
}

.admin-delete, .admin-view {

  input[type=submit], .btn-back {
    text-decoration: none;
    padding: 10px;
    border: none;
    background: $AQUA_COLOR;
    color: #ffffff;
    font-size: 18px;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }
}

.delete-product {
  color: $AQUA_COLOR;
  &:hover {
    color: $DARK_GREY_COLOR;
  }
}

.img-afisha {
  position: relative;
  .delete-image-afisha {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }
  button.delete-image-afisha {
    background: #ff0000;
  }
}

.errors {
  @extend %ul-clear;
  color: #ff0000;
  margin: 5px 20px;
}

#modal-add-attribute, #modal-delete-attribute {
  font-size: 18px;
  input {
    @extend %input-blue;
    height: 30px;
    width: 100%;
    margin: 10px 0;
  }
  .buttons-params {
    display: flex;
    justify-content: space-between;
    button {
      @extend %button;
      width: 100%;
      height: 40px;
      margin: 10px;
    }
  }
  .table-attributes {
    width: 100%;
    .delete-attribute {
      color: $AQUA_COLOR;
      cursor: pointer;
      &:hover {
        color: $DARK_GREY_COLOR;
      }
    }
  }
}

span.delete {
  color: $AQUA_COLOR;
  &:hover {
    color: $DARK_GREY_COLOR;
  }
}

span.delete, .btn {
  cursor: pointer;
}