@import "templates";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  @extend %background-img;
  padding-bottom: 250px;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/*Навигационная панель*/
.navbar-default {
  background: $DARK_GREY_COLOR;
  .navbar-nav > li > a {
    color: #FFFFFF;
    &:hover {
      color: $AQUA_COLOR;
    }
    &:focus {
      color: #FFFFFF;
    }
  }
  .navbar-nav > li:focus {
    border: none;

  }
  .navbar-text {
    color: #FFFFFF;
  }
  border: none;
}

/*Футер*/
.panel-footer {
  background: $DARK_GREY_COLOR;
  color: #FFFFFF;
  .nav > li > a {
    font-size: 16px;
    display: inline-block;
    color: #FFFFFF;
    padding: 0;
    margin: 5px 0;
  }
  .nav > li > a:focus, .nav > li > a:hover {
    background: none;
    color: $AQUA_COLOR;
  }
  .f-contacts {
    font-size: 16px;
  }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: #FFFFFF;
}

/*Аутентификация*/
.form {
  .alert {
    margin: 10px 0;
  }
}

/*Список продуктов на главной*/
.list-products {
  margin: 20px 0;
}

/*Меню категорий товаров*/

.nav-products {
  li {
    position: relative;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $AQUA_COLOR;
      margin-bottom: -1px;
      height: 60px;
      font-size: 14px;
      color: $DARK_GREY_COLOR;
      &:hover {
        background: $DARK_GREY_COLOR;
        color: #FFFFFF;
      }
    }

    &:hover .sub-menu {
      display: block;
    }
  }
  .sub-menu {
    border-left: 2px solid $AQUA_COLOR;
    width: 300px;
    @extend %background-img;
    display: none;
    position: absolute;
    margin-left: 260px;
    z-index: 10;
    top: 0;
  }
}

/*Меню выборки в каталоге*/

.menu-select {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid $AQUA_COLOR;
  #slider-range {
    margin: 10px 0;
  }
  .manufacturer-list {
    padding: 0 10px;
    overflow: auto;
    height: 150px;
  }
}

/*Блоки товаров*/

.list-products {
  .thumbnail {
    .img-rounded {
      width: 200px;
      margin-bottom: 10px;
    }
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 320px;
    a {
      text-decoration: none;
      color: $DARK_GREY_COLOR;
    }
    .product-price {
      font-size: 20px;
    }
  }
  .product-block {
    .new {
      position: absolute;
      top: 5px;
      right: 20px;
    }
  }
  .product-block:hover {
    transform: scale(1.05);
    transition: transform 0.7s;
  }
}

/*Страница продукта*/

.info-product {
  font-size: 16px;
  padding: 20px;
}

/*Постраничный вывод*/

.div-pagination {
  display: flex;
  justify-content: center;
}

/*Управление продуктами*/

.image-product {
  img {
    height: 100px;
  }
}

/*Управление афишей*/
.image-afisha {
  img {
    width: 940px;
    height: 300px;
  }
}