.center-cart {
  width: 100%;
}

.cart {
  text-align: center;
  .checkout {
    display: flex;
    justify-content: center;
    font-size: 18px;
    .row {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 5px;
    }
    select {
      background: none;
      width: 600px;
      height: 30px;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .btn {
      @extend %button;
      font-size: 18px;
      width: 300px;
      padding: 10px;
    }

  }

  div.btn-to-main {
    display: flex;
    justify-content: center;
  }
  a.btn-to-main {
    display: block;
    margin-bottom: 10px;
    width: 200px;
    text-decoration: none;
    color: #FFFFFF;
    background: $AQUA_COLOR;
    padding: 10px;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }
  .table-cart {
    @extend %table-admin;
  }

  .empty-cart {
    margin-bottom: 100px;
  }

  .brief-info > ul {
    @extend %ul-clear;
  }

  a.checkout {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    text-decoration: none;
    color: #ffffff;
    background: $AQUA_COLOR;
    padding: 10px;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }

  input[type=text], textarea {
    @extend %input-blue;
    height: 30px;
    width: 300px;
    padding: 2px;
    font: {
      size: 18px;
    }
  }
  td{
    vertical-align: top;
  }
  .btn {
    background: $AQUA_COLOR;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }
  .btn-delete {
    background: none;
    color: $AQUA_COLOR;
    &:hover {
      background: none;
      color: $DARK_GREY_COLOR;
    }
  }


  textarea {
    height: 100px;
  }

  input, textarea {
    margin-bottom: 20px;
  }
  .total-cost {
    font-weight: bold;
    font-size: 20px;
  }
  input[type=submit] {
    padding: 10px;
    width: 300px;
    border: none;
    background: $AQUA_COLOR;
    color: #ffffff;
    font-size: 18px;
    &:hover {
      background: $DARK_GREY_COLOR;
    }
  }
}